---
import i18next, { t, changeLanguage } from "i18next";
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import Splash from "../components/Splash.astro";
import Intro from "~/components/Intro.astro";
import Skill from "~/components/Skill.astro";
import Usable from "~/components/Usable.astro";
import Customer from "~/components/Customer.astro";

changeLanguage("en");

const firstWorkedDate = new Date("3/8/2018");
const today = new Date();
const diffTime = Math.abs(today - firstWorkedDate);
const diffDays = Math.ceil(diffTime / (1000 * 60 * 60 * 24));
const workedYear = (diffDays / 365).toFixed(1);
---

<!DOCTYPE html>
<html lang={i18next.language}>
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body
    class="m-auto h-full overflow-x-hidden bg-default text-default text-base selection:bg-secondary selection:text-white"
  >
    <div class="relative">
      <Header />
      <Splash />
    </div>
    <main class="py-20 px-4 md:px-8 flex flex-col space-y-28">
      <Intro workedYear={workedYear} />
      <Skill workedYear={workedYear} />
      <Usable />
      <Customer />
      <!--<Showcase /> -->
    </main>
    <Footer />
    <script is:inline src="/assets/js/index.js"></script>
  </body>
</html>
