---
import { Icon } from "astro-icon";
import type { UsableItem } from "~/types";

export interface Props {
  items: Array<UsableItem>;
  title: string;
}

const { items, title } = Astro.props;
---

<div class="w-full max-w-6xl space-y-2">
  <div
    class="relative rounded-lg border border-default bg-gray-50 px-6 pb-4 pt-8"
  >
    <h3
      class="absolute right-4 top-0 -translate-y-1/2 rounded-full border border-current bg-white px-4 py-1 uppercase tracking-tight text-xs"
    >
      {title}
    </h3>
    <ul class="grid grid-cols-2 gap-8 sm:grid-cols-3 md:grid-cols-6">
      {
        items.map((item) => (
          <li>
            {item.url != "" ? (
              <a class="flex flex-col items-center gap-2" href={item.url}>
                <Icon class="h-12 text-gray-800" name={item.icon} />
                <span>{item.title}</span>
              </a>
            ) : (
              <div class="flex flex-col items-center gap-2">
                <Icon class="h-12 text-gray-800" name={item.icon} />
                <span class="text-center">{item.title}</span>
              </div>
            )}
          </li>
        ))
      }
    </ul>
  </div>
</div>
